<mat-toolbar class="fixed-top">
  <button mat-icon-button color="accent" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
</mat-toolbar>
<mat-sidenav-container class="page-container">
  <mat-sidenav #sidenav mode="side" disableClose="true" style="padding-top:64px;">
    <mat-list role="list">
      <mat-list-item role="listitem"><a [routerLink]="['/home']">Home</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"><a [routerLink]="['/warbands']">Warbands</a></mat-list-item>
      <mat-list-item role="listitem">Heroes</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>