<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="container">
      <div class="row mt-4">
        <app-filtri-fazioni></app-filtri-fazioni>
      </div>
      <div class="d-flex justify-content-end mt-4 mb-4">
        <button [routerLink]="['new']" mat-button color="accent">New Warband</button>
      </div>
      <app-lista-fazioni></app-lista-fazioni>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="over" (closedStart)="navigateBack()" [opened]="openSidebar" position="end">
    <div class="d-flex flex-row-reverse">
      <button class="m-2" (click)="navigateBack()" mat-icon-button color="accent">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <router-outlet (activate)="openSidebar = true" (deactivate)="openSidebar = false"></router-outlet>
  </mat-sidenav>
</mat-sidenav-container>